body {
    font: 14px sans-serif;
    margin-top: 75px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
}

.label {
    font-size: 14px;
}