body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-size: 16px;
    font-weight: normal;
}

.label {
    font-size: 14px;
}